body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 20px;
}


div {
    width: 350px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Buttons */
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
}

/* Inputs and Select */
input[type="email"],
input[type="password"],
input[type="text"],
select {
    width: calc(100% - 24px); /* Full width minus padding */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding in the element's total width */
}

/* Labels and Hints */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

p {
    font-size: 12px;
    color: #666;
    margin-top: 3px;
    margin-bottom: 15px;
}

/* Create Account Button - Simple Green */
form button {
    background-color: black; /* Simple green */
    color: white;
    border: none;
    margin-top: 15px;
    font-weight: bold;
}

/* Checkbox label */
span {
    font-size: 12px;
    color: black;
}

.pref {
    font-size: 15px;
}

.daba {
    width: 300px;
    height: 40px;
}
